@CHARSET "UTF-8";
html,body{
	height:100%;
	width:100%;
}
body{
	margin-top:16rem;
	font-family:'微軟正黑體',sans-serif;
	background:rgba(235, 244, 255, .6);
}
.title{
	font-family: Lora,sans-serif;;
}
.loginbox i{
	color:rgba(0, 0, 199, .6);
}
#menu{
	background-color:white;
	border:1px solid gray;
	border-radius: 12px;
	padding-top:16px;
	padding-bottom:18px;
}

